#ds-report-choose .error, .drop-submit-message.error {
	color: red;
	font-weight: bold;
	width: 50%;
}

#ds-report-choose .success, .drop-submit-message.success {
	color: #266F21;
	font-weight: bold;
	width: 50%;
}

.ds-harvester-table {
  table-layout: fixed;
  word-wrap: break-word;
}
.ds-harvester-table * th:nth-of-type(1) {
  width: 10%;
}
.ds-harvester-table * th:nth-of-type(2) {
  width: 30%;
}
.ds-harvester-table * th:nth-of-type(3) {
  width: 60%;
}
.ds-harvester-table * td:nth-of-type(1) > h3 {
  margin-top: 0px;
}

body > nav[role="navigation"] {
	border-radius: 0px;
}


/**/
.navbar-no-margin .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    min-height: 39px;
}
.navbar-no-margin .dashboard {
    background-color: #357ebd;
}
.navbar-no-margin li.dashboard > a  {
    color: #FFF !important;
}
.navbar-dashboard {
    background-image: none !important;
    background-color: #357ebd !important;
    border: none;
    border-radius: 0px;
}

.navbar-dashboard .navbar-header > span,
.navbar-dashboard ul.navbar-nav li > a {
    color: #fff !important;
}

.navbar-dashboard ul.navbar-nav ul li > a {
    color: #337ab7 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #357ebd;
    color: #FFF !important;
}
.glyphicon-fw {
    width: 1.28571429em;
    text-align: center;
}
