target/
harvesters/csw-harvester/activemq-data/
harvesters/csw-harvester/csw/
harvesters/csw-harvester/logs/
harvesters/csw-harvester/src/main/resources/WEB-INF/config-harvesters.xml
tasks/etf-validation-checker/ETF
tasks/*/tmp/
tasks/*/logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.iml
.idea
rebel.xml
web/csw/
web/logs/
web/overlays/
web/activemq-data/
es/elasticsearch-*
dashboards/kibana-*
