<div id="monitoring"
     data-ng-controller="HarvesterCtrl">
  <ul class="nav nav-tabs">

    <!-- Action menu -->
    <li role="reporting"
        data-ng-class="{'active':isActive('harvesting/manage')}">
      <a href="#/harvesting/manage"
         data-translate="">harvesterConfiguration</a></li>
    <li role="reporting"
        data-ng-class="{'active':isActive('harvesting/monitor')}">
      <a href="#/harvesting/monitor"
         data-translate="">harvesterMonitoring</a></li>
  </ul>

  <div data-ng-include="'app/components/harvester/partial/' + section + 'View.html' ">
  </div>
</div>
