<div class="row" data-ng-controller="HarvesterConfigCtrl">
  <div class="col-md-2">
    <br/>
    <p class="alert alert-info"
       data-translate=""
       data-translate-values="{pollingInterval: '{{pollingInterval}}'}">harvesterConfigPage</p>
  </div>
  <div class="col-md-10">
    <br/>

    <table class="table table-striped" data-ng-show="harvesterConfig.length > 0">
      <tr>
        <th data-translate="">territory</th>
        <th data-translate="">name</th>
        <th data-translate="">details</th>
        <th colspan="2">

          <button class="btn btn-link"
                  data-ng-click="add(h)"
                  title="{{'add' | translate}}">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </th>
      </tr>
      <tr>
        <td>
          <input class="form-control"
                 data-ng-model="harvesterSearch.territory"
                 autofocus="">
        </td>
        <td colspan="4">
          <input class="form-control"
                 data-ng-model="harvesterSearch.$"
                 placeholder="{{'filter'}}">
        </td>
      </tr>
      <tr data-ng-repeat="h in harvesterConfig | filter:harvesterSearch | orderBy:'territory'">
        <td><h1>{{h.territory}}</h1></td>
        <td>{{h.name}}</td>
        <td>
          <ul>
            <li><span>URL:</span>&nbsp;{{h.url}}</li>
            <li><span>Folder:</span>&nbsp;{{h.folder}}</li>
            <li data-ng-show="h.filter">
              <span>Filter:</span>&nbsp;
              <code>{{h.filter}}</code>
            </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-link"
                  data-ng-click="run(h)"
                  title="{{'harvest' | translate}}">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-link"
                  data-ng-click="remove(h)"
                  title="{{'remove' | translate}}">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
