<div class="row" data-ng-controller="HarvesterConfigCtrl">
  <div class="col-md-2">
    <br/>
    <p class="alert alert-info"
       data-translate=""
       data-translate-values="{pollingInterval: '{{pollingInterval}}'}">harvesterConfigPage</p>
  </div>
  <div class="col-md-10">
    <br/>

    <table class="table table-striped" data-ng-show="harvesterConfig.length > 0">
      <tr>
        <th data-translate="">territory</th>
        <th data-translate="">name</th>
        <th data-translate="">details</th>
        <th/>
        <th/>
        <th>

          <button class="btn btn-link"
                  data-ng-hide="adding"
                  data-ng-click="adding = true"
                  title="{{'add' | translate}}">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </th>
      </tr>

      <tr data-ng-show="adding">
        <td>
        </td>
        <td>
        </td>
        <td>
          <form class="form-horizontal">
            <div class="form-group" data-ng-repeat="(key, value) in harvesterTpl">
              <label for="field-{{key}}"
                     class="col-sm-4 control-label">
                {{key | translate}}</label>
              <div class="col-sm-8" data-ng-switch="key">
                <textarea data-ng-switch-when="filter"
                          type="text" class="form-control"
                          id="field-{{key}}"
                          data-ng-model="newHarvester[key]"
                          placeholder="{{(key + '-placeholder') | translate}}">
                </textarea>

                <input data-ng-switch-default=""
                       type="text" class="form-control"
                       id="field-{{key}}"
                       data-ng-model="newHarvester[key]"
                       placeholder="{{(key + '-placeholder') | translate}}">
                <p class="help-block">{{(key + '-help') | translate}}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"
                        data-ng-click="adding = false">
                  <i class="glyphicon glyphicon-remove"/>&nbsp;
                  <span data-translate="">cancel</span>
                </button>

                <button type="submit" class="btn btn-primary"
                        data-ng-click="add(h)">
                  <i class="glyphicon glyphicon-save"/>&nbsp;
                  <span data-translate="">saveHarvester</span>
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>

      <tr>
        <td>
          <input class="form-control"
                 data-ng-model="harvesterSearch.territory"
                 autofocus="">
        </td>
        <td colspan="5">
          <input class="form-control"
                 data-ng-model="harvesterSearch.$"
                 placeholder="{{'filter'}}">
        </td>
      </tr>
      <tr data-ng-repeat="h in harvesterConfig | filter:harvesterSearch | orderBy:'territory'">
        <td><h1>{{h.territory}}</h1></td>
        <td>{{h.name}}</td>
        <td>
          <ul>
            <li data-ng-repeat="(key, value) in h">
              <span>{{key | translate}}</span>&nbsp;
              <strong>{{value || 'none'}}</strong>
            </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-link"
                  data-ng-click="run(h)"
                  title="{{'harvest' | translate}}">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-link"
                  data-ng-click="edit(h)"
                  title="{{'configure' | translate}}">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-link"
                  data-ng-click="remove(h)"
                  title="{{'remove' | translate}}">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </button>
          <button class="btn btn-link"
                  data-ng-click="removeRecords(h)"
                  title="{{'removeRecords' | translate}}">
            <i class="glyphicon glyphicon-folder-open text-danger"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
