<!--

    Copyright 2014-2016 European Environment Agency

    Licensed under the EUPL, Version 1.1 or – as soon
    they will be approved by the European Commission -
    subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:

    https://joinup.ec.europa.eu/community/eupl/og_page/eupl

    Unless required by applicable law or agreed to in
    writing, software distributed under the Licence is
    distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.
    See the Licence for the specific language governing
    permissions and limitations under the Licence.

-->
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-3.2.xsd">

  <ldap-server
    url="${ldap.base.provider.url}/${ldap.base.dn}"
    manager-dn="${ldap.security.principal}"
    manager-password="${ldap.security.credentials}"/>

  <http auto-config="true">
    <intercept-url pattern="/" access="ROLE_ADMIN"/>

    <form-login
      login-page="${login.url}"
      default-target-url="/"
      authentication-failure-url="${login.failure.url}"/>

    <logout logout-success-url="${logout.success.url}"/>
  </http>


  <authentication-manager alias="authenticationManager">
    <ldap-authentication-provider
      group-search-base="ou=groups"
      group-search-filter="member={0}"
      user-search-base="ou=people"
      user-search-filter="uid={0}"
    />
  </authentication-manager>

  <ldap-user-service
    group-search-base="ou=groups"
    group-search-filter="member={0}"
    user-search-base="ou=people"
    user-search-filter="uid={0}"
  />

</beans:beans>
