<!--

    Copyright 2014-2016 European Environment Agency

    Licensed under the EUPL, Version 1.1 or – as soon
    they will be approved by the European Commission -
    subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:

    https://joinup.ec.europa.eu/community/eupl/og_page/eupl

    Unless required by applicable law or agreed to in
    writing, software distributed under the Licence is
    distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.
    See the Licence for the specific language governing
    permissions and limitations under the Licence.

-->
<beans:beans
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:ctx="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/security"

  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-4.0.xsd">

  <ctx:component-scan base-package="org.daobs.authentication" />

  <http auto-config="true" entry-point-ref="httpAuthenticationEntryPoint">
    <intercept-url pattern="/daobs/loginForm" access="permitAll" />
    <intercept-url pattern="/daobs/userDetails" access="permitAll"/>
    <intercept-url pattern="/login" access="permitAll" />
    <intercept-url pattern="/assets/**" access="permitAll" />
    <intercept-url pattern="/app/**" access="permitAll" />
    <intercept-url pattern="/favicon.ico" access="permitAll" />
    <intercept-url pattern="/" access="permitAll"/>
    <intercept-url pattern="/**" access="permitAll" />

    <form-login login-page="/daobs/loginForm"
                authentication-success-handler-ref="authSuccessHandler"
                authentication-failure-handler-ref="authFailureHandler"
                default-target-url="/" />
    <logout success-handler-ref="httpLououtSuccessHandler"/>
    <csrf disabled="false" token-repository-ref="csrfTokenRepository"/>
    <custom-filter ref="csrfheaderFilter" after="CSRF_FILTER"/>

  </http>

  <beans:bean id="csrfheaderFilter" class="org.daobs.filter.CsrfHeaderFilter" />
  <beans:bean id="csrfTokenRepository" class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
    <beans:property name="headerName" value="X-XSRF-TOKEN"/>
  </beans:bean>

  <beans:import resource="spring-security-ba.xml"/>
<!--  <beans:import resource="spring-security-ldap.xml"/>-->

  <ctx:property-placeholder location="WEB-INF/spring-security.properties"/>
</beans:beans>
