<!DOCTYPE html>
<html ng-app="daobs">
<head lang="en">
  <meta charset="UTF-8">
  <title>Daobs</title>
  <link rel="stylesheet" href="assets/libs/intro.js/introjs.min.css"/>
  <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="assets/libs/angular-ui-notification.min.css"/>
  <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body data-ng-controller="RootController"
      data-ng-cloak="">
  <nav class="navbar navbar-inverse " role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li data-ng-repeat="link in navLinks"
              data-ng-class="navClass('{{link.url}}')">
            <a href="{{link.url}}"
                    title="{{(link.id + 'Title') | translate}}"
                    id="ds-menu-{{link.id}}">
              <i class="glyphicon" data-ng-class="link.icon"></i>
              {{link.id | translate}}
            </a>
          </li>
          <li>
            <a data-ng-click="startIntro()">
              <i class="glyphicon glyphicon-info-sign"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <p data-ng-view="">
    </p>
  </div>

  <script src="assets/libs/jquery/jquery-2.1.1.min.js"></script>

  <script src="assets/libs/moment.min.js"></script>

  <script src="assets/libs/angular/angular.min.js" language="JavaScript"></script>
  <script src="assets/libs/angular/angular-route.min.js" language="JavaScript"></script>
  <script src="assets/libs/angular/angular-route.min.js" language="JavaScript"></script>
  <script src="assets/libs/angular/angular-translate.min.js" language="JavaScript"></script>
  <script src="assets/libs/angular/angular-translate-loader-static-files.min.js" language="JavaScript"></script>

  <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/libs/intro.js/intro.min.js"></script>
  <script src="assets/libs/angular-ui-notification.min.js"></script>

  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>
  <script src="app/app.route.js"></script>
  <script src="app/app.filter.js"></script>
  <script src="app/shared/solr/solrModule.js"></script>
  <script src="app/shared/solr/solrConfig.js"></script>
  <script src="app/shared/solr/solrService.js"></script>
  <script src="app/shared/uploadDirective.js"></script>
  <script src="app/components/home/homeController.js"></script>
  <script src="app/components/harvester/harvesterService.js"></script>
  <script src="app/components/harvester/harvesterController.js"></script>
  <script src="app/components/monitoring/monitoringService.js"></script>
  <script src="app/components/monitoring/monitoringController.js"></script>
</body>
</html>