<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <!--<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />-->
      <param name="ConversionPattern" value="%d %-5p %10.10X{camel.exchangeId}#%-24.24X{camel.routeId} - %m%n"/>
    </layout>
  </appender>

  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="ALL" />
    <!--<param name="File" value="${catalina.home}/logs/daobs.log" />-->
    <param name="File" value="/tmp/logs/daobs.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <!--<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />-->
      <param name="ConversionPattern" value="%d %-5p %10.10X{camel.exchangeId}#%-24.24X{camel.routeId} - %m%n"/>
    </layout>
  </appender>


  <logger name="org.daobs.harvester.CswHarvester">
    <level value="DEBUG"/>
  </logger>

  <logger name="org.daobs.task.ServiceDatasetIndexer">
    <level value="DEBUG"/>
  </logger>

  <logger name="org.daobs.task.ValidationChecker">
    <level value="DEBUG"/>
  </logger>

  <logger name="org.daobs">
    <level value="ERROR"/>
  </logger>

  <logger name="org.apache.camel">
    <level value="WARN"/>
  </logger>

  <logger name="org.springframework">
    <level value="WARN"/>
  </logger>

  <logger name="org.apache.activemq">
    <level value="WARN"/>
  </logger>

  <logger name="org.apache">
    <level value="ERROR"/>
  </logger>

  <root>
    <level value="WARN"/>
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
</log4j:configuration>