<div class="row" data-ng-controller="MonitoringCreateCtrl">
  <div class="col-md-2">
    <br/>
    <p class="alert alert-info" data-translate="">monitoringCreationPage</p>
  </div>
  <div class="col-md-10">
    <br/>

    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group" id="ds-report-choose">
            <label for="ds-report-field"
                   class="col-sm-2 control-label"
                   data-translate="">chooseMonitoring</label>
            <div class="col-sm-10">
              <div class="input-group">
                <select id="ds-report-field" class="form-control"
                        data-ng-model="reporting"
                        data-ng-options="value.id for (key, value) in reportingConfig | orderBy: 'id'">
                </select>
                <div class="input-group-btn">
                  <button type="submit"
                          id="ds-report-view"
                          class="btn btn-default"
                          data-ng-click="getReportDetails()"
                          data-translate="">viewRules</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" id="ds-reportarea-choose">
            <label for="ds-reportarea-field"
                   class="col-sm-2 control-label"
                    data-translate="">chooseTerritory</label>
            <div class="col-sm-10">
              <select id="ds-reportarea-field"
                      class="form-control"
                      data-ng-model="territory"
                      data-ng-options="value.label for (key, value) in listOfTerritory | orderBy:'label'">
              </select>
            </div>
          </div>
          <div class="form-group" id="ds-query-filter">
            <label for="ds-reportarea-field"
                   class="col-sm-2 control-label"
                   data-translate="">customFilter</label>
            <div class="col-sm-10">
              <input id="ds-query-filter"
                     data-ng-model="filter"
                     class="form-control"/>
            </div>
            <p class="help-block" data-translate="">customFilterHelp</p>
          </div>
          <p class="alert alert-info"
             data-ng-show="filterCount"
             data-translate=""
             data-translate-values="{
                territory: '{{territory.label}}',
                filter: '{{filter}}',
                count: '{{filterCount}}'}">
            matchingRecordsForFilter
          </p>
          <p class="alert alert-danger" data-ng-show="filterError">
            {{filterError}}
          </p>
        </div>
        <div class="col-sm-5">
          <fieldset data-ng-show="reporting.id.indexOf('inspire') !== -1">
            <legend>
              <i class="glyphicon glyphicon-user"></i>&nbsp;
              <span data-translate="">contactDetails</legend>
            <div class="form-group" id="ds-language-filter">
              <label for="ds-language-field"
                     class="col-sm-4 control-label"
                     data-translate="">language</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input id="ds-language-field"
                       data-ng-model="monitoringLanguage"
                       class="form-control"/>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li data-ng-repeat="l in listOfLanguages | orderBy:'label'">
                        <a href="" data-ng-click="setLanguage(l)">
                          {{l.label}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="ds-org-filter">
              <label for="ds-org-field"
                     class="col-sm-4 control-label"
                     data-translate="">org</label>
              <div class="col-sm-8">
                <input id="ds-org-field"
                       data-ng-model="organizationName"
                       class="form-control"/>
              </div>
            </div>
            <div class="form-group" id="ds-email-filter">
              <label for="ds-email-field"
                     class="col-sm-4 control-label"
                     data-translate="">email</label>
              <div class="col-sm-8">
                <input id="ds-email-field"
                       type="email"
                       data-ng-model="email"
                       class="form-control"/>
              </div>
            </div>
            <p class="help-block" data-translate="">inspireMonitoringInstructions</p>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="ds-btn-report-preview"
                      type="submit"
                      class="btn btn-primary"
                      data-ng-click="preview()">
                <i class="glyphicon glyphicon-eye-open"></i>&nbsp;
                <span data-translate="">preview</span>
              </button>
              <div class="btn-group">
                <button id="ds-btn-report-dwn"
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                  <i class="glyphicon glyphicon-download-alt"></i>&nbsp;
                  <span data-translate="">download</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li data-ng-show="reporting.id.indexOf('inspire') !== -1">
                    <a target="_blank"
                         data-ng-href="daobs/reporting/custom/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}?{{fq ? 'fq=' + fq : ''}}&organizationName={{organizationName}}&email={{email}}&language={{monitoringLanguage}}"
                         data-translate=""
                         title="{{('inspireMonitoringFormat-help' | translate) !== '' ? ('inspireMonitoringFormat-help' | translate) : ''}}">
                        inspireMonitoringFormat</a></li>
                  <li data-ng-show="reporting.id.indexOf('inspire') !== -1">
                    <a target="_blank"
                         data-ng-href="daobs/reporting/custom/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}?{{fq ? 'fq=' + fq : ''}}&withRowData=true&organizationName={{organizationName}}&email={{email}}&language={{monitoringLanguage}}"
                         data-translate=""
                         title="{{('inspireMonitoringFormatWithRowData-help' | translate) !== '' ? ('inspireMonitoringFormatWithRowData-help' | translate) : ''}}">
                      inspireMonitoringFormatWithRowData</a></li>
                  <li data-ng-show="reporting.id.indexOf('inspire') !== -1">
                    <a target="_blank"
                       data-ng-href="daobs/reporting/custom/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}?{{fq ? 'fq=' + fq : ''}}&withRowData=true&organizationName={{organizationName}}&email={{email}}&language={{monitoringLanguage}}&datasetMode=onlyFirstInspireTheme"
                       data-translate=""
                       title="{{('inspireMonitoringFormatWithRowDataDatasetOnlyFirstTheme-help' | translate) !== '' ? ('inspireMonitoringFormatWithRowDataDatasetOnlyFirstTheme-help' | translate) : ''}}">
                       inspireMonitoringFormatWithRowDataDatasetOnlyFirstTheme</a></li>
                  <li data-ng-show="reporting.id.indexOf('inspire') !== -1">
                    <a target="_blank"
                       data-ng-href="daobs/reporting/custom/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}?{{fq ? 'fq=' + fq : ''}}&withRowData=true&organizationName={{organizationName}}&email={{email}}&language={{monitoringLanguage}}&datasetMode=asManyDatasetsAsInspireThemes"
                       data-translate=""
                       title="{{('inspireMonitoringFormatWithRowDataDatasetWithMultipleThemes-help' | translate) !== '' ? ('inspireMonitoringFormatWithRowDataDatasetWithMultipleThemes-help' | translate) : ''}}">
                       inspireMonitoringFormatWithRowDataDatasetWithMultipleThemes</a></li>
                  <li><a target="_blank"
                         data-ng-href="daobs/reporting/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}.xml{{fq ? '?fq=' + fq : ''}}"
                         data-translate="">XML</a></li>
                  <li><a target="_blank"
                         data-ng-href="daobs/reporting/{{reporting.id}}{{territory.label ? '/' + territory.label : ''}}.json{{fq ? '?fq=' + fq : ''}}"
                         data-translate="">JSON</a></li>
                </ul>
              </div>
              <button id="ds-btn-report-submit"
                      type="submit"
                      class="btn btn-default disabled"
                      data-ng-click="submit()"
                      data-toggle="tooltip"
                      data-placement="bottom">
                <i class="glyphicon glyphicon-time"></i>&nbsp;
                <span data-translate="">schedule</button>
            </div>
          </div>
        </div>
      </div>

      <div data-ng-show="report != null && overview"
           id="ds-report-results">
        <h2 data-translate=""
            data-translate-values="{title: '{{report.identification.title.content}}'}">
          monitoringTitle
        </h2>

        <p data-ng-show="report.identification.url"
           data-translate=""
                data-translate-values="{url: '{{report.identification.url}}'}">
          monitoringUrlLink
        </p>
        <div class="alert alert-info" data-translate="">
          monitoringHelp
        </div>

        <table class="table table-striped">
          <tr>
            <th></th>
            <th data-translate="">name</th>
            <th data-translate="">definition</th>
          </tr>
          <tr>
            <th>
              <input class="form-control"
                     data-ng-model="reportConfigSearch.id"
                     autofocus="autofocus"/>
            </th>
            <th colspan="2">
              <input class="form-control"
                     data-ng-model="reportConfigSearch.$"/>
            </th>
          </tr>
          <tr data-ng-repeat="v in rules | orderBy:'id' | filter:reportConfigSearch">
            <td>{{v.id}}</td>
            <td><strong>{{v.name.content}}</strong></td>
            <td>
              <p>
                {{v.comment}}
              </p>

              <samp data-ng-show="v.query">
                {{v.query.value}}
              </samp>
              <ul data-ng-show="v.query.stats != null6  ">
                <li><label data-translate="">Statistics field</label> {{v.query.statsField}}</li>
                <li><label data-translate="">Type</label> {{v.query.stats}}</li>
              </ul>
              <samp>
                {{v.expression}}
              </samp>
            </td>
          </tr>
        </table>
      </div>

      <div data-ng-show="report != null && overview == false">
        <h2 data-translate=""
                data-translate-values="{
                title: '{{report.identification.title.content}}',
                territory: '{{territory.label}}',
                count: '{{filterCount}}'}">
          monitoringDetails</h2>


        <div class="alert alert-info"
             data-translate="">
          monitoringContentInfo
        </div>

        <table class="table table-striped">
          <tr>
            <th></th>
            <th data-translate="">name</th>
            <th data-translate="">value</th>
          </tr>
          <tr>
            <th>
              <input class="form-control"
                     data-ng-model="reportSearch.id"
                     autofocus="autofocus"/>
            </th>
            <th colspan="2">
              <input class="form-control"
                     data-ng-model="reportSearch.$"/>
            </th>
          </tr>
          <tr data-ng-repeat="v in rules | orderBy:'id' | filter:reportSearch">
            <td>{{v.id}}</td>
            <td title="{{v.comment}} - Expression or query is: {{v.query}}{{v.expression}}">
              {{v.name.content}}
              <div class="alert alert-danger"
                   data-ng-show="v.status.indexOf('Error')"
                   role="alert">
                <strong data-ng-show="v.comment">{{v.comment}}</strong>
                <p>{{v.status}}</p>
                <span data-ng-show="v.parameters" data-translate="">parameters</span>
                <ul>
                  <li data-ng-repeat="p in v.parameters.parameter">
                    {{p.id}}
                    <span data-ng-show="p.status === 'set'">{{p.status}} with value {{p.value}}</span>
                    <span data-ng-show="p.status === 'undefined'">{{p.status}}</span>
                  </li>
                </ul>
              </div>
            </td>
            <td>{{v.value}}</td>
            <td></td>
          </tr>
        </table>

      </div>
    </form>
  </div>
</div>