<div class="row" data-ng-controller="MonitoringInfoCtrl">
  <div class="col-md-2">
    <br/>
    <ul data-ng-show="listOfMonitoring.length > 0">
      <li data-ng-repeat="(key, value) in monitoringFacet">
        {{key | translate}}
        <ul>
          <li data-ng-repeat="v in value">
            <a href="" data-ng-click="setMonitoringFilter(key, v.label)">
            {{v.label | translate}} ({{v.count}})
            </a>
          </li>
          <li>
            <a href="" data-ng-click="setMonitoringFilter(key, '')">
              {{'noFilter' | translate}}
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <p class="alert alert-info" data-translate="">monitoringInfoPage</p>
  </div>
  <div class="col-md-10">
    <br/>
    <p data-ng-show="listOfMonitoring.length === 0"
       class="alert alert-info"
       data-translate="">
      noMonitoringAvailable
    </p>
    <table class="table table-striped" data-ng-show="listOfMonitoring.length > 0">
      <tr>
        <th data-translate="">monitoringYear</th>
        <th data-translate="">monitoringDate</th>
        <th data-translate="">territory</th>
        <th data-translate="">org</th>
        <th>
          <a class="btn btn-link"
               href="" role="button"
               title="removeAllMonitoring"
               data-ng-show="listOfMonitoring.length"
               data-ng-mouseenter="monitoringDanger = true"
               data-ng-mouseleave="monitoringDanger = false"
               data-ng-click="removeMonitoring()">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </a>
        </th>
      </tr>
      <tr>
        <th>
          <input class="form-control"
                 data-ng-model="monitoringFilter.reportingYear">
        </th>
        <th/>
        <th>
          <input class="form-control"
                 data-ng-model="monitoringFilter.territory"
                 autofocus="">
        </th>
        <th colspan="4"></th>
      </tr>
      <tr data-ng-repeat="m in listOfMonitoring | filter:monitoringFilter"
          data-ng-class="monitoringDanger ? 'danger' : ''">
        <td><strong>{{m.reportingYear}}</strong></td>
        <td title="{{m.reportingDate}}">{{m.reportingDate | fromNow}}</td>
        <td>{{m.territory}}</td>
        <td>
          <ul>
            <li data-ng-repeat="c in m.contact">
              <a href="mailto:{{c.email}}">{{c.org}}</a>
            </li>
          </ul>
        </td>
        <td>
          <a class="btn btn-link"
             role="button"
             data-ng-href="dashboard2/#/dashboard/solr/INSPIRE%20Dashboard?q=%2Bterritory:{{m.territory}} %2BreportingYear:{{m.reportingYear}}">
            <i class="glyphicon glyphicon-eye-open"></i>&nbsp;
            <span data-translate="">viewRecords</span>
          </a><br/>
          <a class="btn btn-link"
             href="" role="button"
             title="{{'isOfficial' | translate}}"
             data-ng-class="m.isOfficial ? '' : 'disabled'"
             data-ng-click="setAsOfficialMonitoring(m)">
            <i class="glyphicon glyphicon-pushpin"></i>&nbsp;
            <span data-translate="">setAsOfficial</span>
          </a><br/>
          <a class="btn btn-link"
             href="" role="button"
             data-ng-click="removeMonitoring(m)">
            <i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;
            <span data-translate="">remove</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>