<div class="row" data-ng-controller="MonitoringInfoCtrl">
  <div class="col-md-2">
    <br/>
    <ul data-ng-show="listOfMonitoring.length > 0">
      <li data-ng-repeat="(key, value) in monitoringFacet">
        {{key | translate}}
        <ul>
          <li data-ng-repeat="v in value.buckets">
            <a href="" data-ng-click="setMonitoringFilter(key, v.key)">
              {{v.key | translate}} ({{v.doc_count}})
            </a>
          </li>
          <li>
            <a href="" data-ng-click="setMonitoringFilter(key, '')">
              {{'noFilter' | translate}}
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <p class="alert alert-info" data-translate="">monitoringInfoPage</p>
  </div>
  <div class="col-md-10">
    <br/>
    <p data-ng-show="listOfMonitoring.length === 0"
       class="alert alert-info"
       data-translate="">
      noMonitoringAvailable
    </p>
    <table class="table table-striped"
           data-ng-show="listOfMonitoring.length > 0">
      <tr>
        <th data-translate="">monitoringYear</th>
        <th data-translate="">monitoringDate</th>
        <th data-translate="">territory</th>
        <th data-translate="">org</th>
        <th>
          <div class="btn-group pull-right" role="group"
               data-ng-if="getUser().authenticated">
            <a class="btn btn-default"
               href="#/monitoring/submit"
               title="{{'submitMonitoring' | translate}}">
              <i class="fa fa-plus"></i>
            </a>
            <a class="btn btn-default"
               href="" role="button"
               title="{{'removeAllMonitoring' | translate}}"
               data-ng-show="listOfMonitoring.length"
               data-ng-mouseenter="monitoringDanger = true"
               data-ng-mouseleave="monitoringDanger = false"
               data-ng-click="removeMonitoring()">
              <i class="fa fa-remove text-danger"></i>
            </a>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <input class="form-control"
                 data-ng-model="monitoringFilter._source.reportingYear">
        </th>
        <th/>
        <th>
          <input class="form-control"
                 data-ng-model="monitoringFilter._source.territory"
                 autofocus="">
        </th>
        <th colspan="4"></th>
      </tr>
      <tr data-ng-repeat="m in listOfMonitoring | filter:monitoringFilter"
          data-ng-class="monitoringDanger ? 'danger' : ''">
        <td><strong>{{m._source.reportingDate}}</strong></td>
        <td title="{{m._source.reportingDate}}">{{m._source.reportingDate | fromNow}}</td>
        <td>{{m._source.territory}}</td>
        <td>
          <ul>
           <!-- FIXME <li data-ng-repeat="c in m._source.contact">
              <a href="mailto:{{c.email}}">{{c.org}}</a>
            </li>-->
          </ul>
        </td>
        <td>
          <a class="btn btn-link"
             role="button"
             data-ng-href="dashboard/#/dashboard/solr/INSPIRE%20Dashboard?q=%2Bterritory:{{m._source.territory}} %2BreportingYear:{{m._source.reportingYear}}">
            <i class="fa fa-eye"></i>&nbsp;
            <span data-translate="">viewRecords</span>
          </a><br/>
          <a class="btn btn-link"
             href="" role="button"
             data-ng-click="removeMonitoring(m._source)"
             data-ng-if="getUser().authenticated">
            <i class="fa fa-remove text-danger"></i>&nbsp;
            <span data-translate="">remove</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
