<div class="row" data-ng-controller="MonitoringSubmitCtrl">
  <div class="col-md-2">
    <br/>
    <p class="alert alert-info" data-translate="">monitoringSubmitPage</p>

  </div>
  <div class="col-md-10">
    <br/>
    <!-- Check for FormData API -->
    <form
      class="form"
      role="form">
      <div class="form-group" data-file-drop-zone="monitoringFiles">
        <label for="ds-report-upload"
               class="control-label"
               data-translate="">chooseMonitoringFile</label>
        <input id="ds-report-upload"
               data-file-model="monitoringFiles"
               multiple="multiple"
               type="file"/>
        <ul>
          <li data-ng-repeat="file in monitoringFiles">{{file.name}}
            ({{file.type}})
          </li>
        </ul>
        <p class="help-block"
           data-translate="">monitoringFileHelp</p>
      </div>

      <div class="checkbox hidden">
        <label>
          <input data-ng-model="isOfficial" type="checkbox"/>
          <span data-translate="">isOfficial</span>
        </label>
        <p class="help-block"
           data-translate="">isOfficialHelp</p>
      </div>

      <div class="checkbox hidden">
        <label>
          <input data-ng-model="withRowData" type="checkbox"/>
          <span data-translate="">indexRowData</span>
        </label>
        <p class="help-block"
           data-translate="">indexRowDataHelp</p>
      </div>

      <button class="btn btn-primary"
              data-ng-disabled="monitoringFiles === undefined || isSubmitting"
              data-ng-click="uploadMonitoring()">
        <i class="glyphicon glyphicon-upload"></i>&nbsp;
        <span data-translate="">submitMonitoring</span>
        <span data-ng-show="isSubmitting">
          {{responseMessages.length}} / {{monitoringFiles.length}}
        </span>
      </button>

      <button class="btn btn-default"
              type="reset"
              data-ng-click="monitoringFiles = []">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </form>
    <br/>
    <div class="alert"
         data-ng-repeat="m in responseMessages"
         data-ng-show="responseMessages.length > 0"
         data-ng-class="m.success ? 'alert-success' : 'alert-danger'">
      {{m.label}}
    </div>

  </div>
</div>
