<div class="row" data-ng-controller="HomeCtrl">
  <div class="col-sm-6">

    <div class="jumbotron">
      <p>{{'homeInfo' | translate}}</p>
      <p><a class="btn btn-primary btn-lg" role="button"
              href="dashboard2">
        <i class="glyphicon glyphicon-stats"></i>
        <span data-translate="">viewDashboard</span>
      </a></p>
    </div>


  </div>
  <div class="col-sm-6" id='ds-latest-dashboard'>


    <div class="alert alert-danger"
       role="alert"
       data-ng-if="solrConnectionError !== null">
      <p data-translate=""
         data-translate-values="{url: '{{solrConnectionError.config.url}}'}">solrConnectionError</p>

      <p>
        {{solrConnectionError.statusText}} ({{solrConnectionError.status}})
      </p>
    </div>

    <p class="alert alert-warning"
       role="alert"
       data-ng-if="dashboards.length === 0">
      <button type="button" class="close"
              data-dismiss="alert"
              aria-label="{{'close' | translate}}">
        <span aria-hidden="true">&times;</span>
      </button>
      <span data-translate="">noDashboardHelp</span>
    </p>


    <div data-ng-show="hasINSPIREdashboard">
      <h2 data-translate="">inspireOfficialMonitoringReporting</h2>
      <ul class="list-group">
        <li class="list-group-item"
            data-ng-repeat="dashboard in dashboards | filter:'inspire':startsWith">
          <a href=""
             data-ng-href="{{dashboardBaseURL}}{{dashboard.id}}">
            {{dashboard.title}}
          </a>
          <button class="btn btn-link btn-sm pull-right"
                  data-ng-click="removeDashboard(dashboard.id)">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </button>
        </li>
      </ul>
    </div>

    <div>
      <h2 data-ng-hide="hasOnlyINSPIREdashboard"
          data-translate="">dashboards</h2>
      <ul class="list-group"
          data-ng-show="dashboards.length > 0">
        <li class="list-group-item"
            data-ng-repeat="dashboard in dashboards | filter:'inspire':notStartsWith">
          <a href=""
             data-ng-href="{{dashboardBaseURL}}{{dashboard.id}}">
            {{dashboard.title}}
          </a>
          <button class="btn btn-link btn-sm pull-right"
                  data-ng-click="removeDashboard(dashboard.id)">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </button>
        </li>
      </ul>
    </div>


    <div class="pull-right">
      <!-- TODO: Should be only displayed for identified users -->
      <span data-ng-if="dashboards.length === 0"
            data-translate="">noDashboard</span>
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false"
                title="Load or reload default dashboards">
          <i class="glyphicon glyphicon-plus"></i>&nbsp;
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="presentation"
              class="dropdown-header"
              data-translate="">chooseATypeOfDashboardToLoad</li>
          <li data-ng-repeat="item in listOfDashboardToLoad">
            <a href=""
               data-ng-click="loadDashboard(item)">{{item}}</a></li>
        </ul>
      </div>
      <button class="btn btn-primary"
              data-ng-show="dashboards.length > 1"
              data-ng-click="removeDashboard()">
        <span data-translate=""
              data-translate-values="{number: '{{dashboards.length}}'}">
          deleteAllDashboards</span>
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </div>
    <br/><br/>

    <div class="alert alert-info"
       role="alert"
       data-ng-if="dashboardsLoaded !== null">
      <button type="button" class="close"
              data-dismiss="alert"
              aria-label="{{'close' | translate}}">
        <span aria-hidden="true">&times;</span>
      </button>

      <div data-ng-show="dashboardsLoaded.success.length > 0">
        <h3 data-translate=""
            data-translate-values="{number: '{{dashboardsLoaded.success.length}}'}">
          dashboardLoaded
        </h3>
        <ul>
          <li data-ng-repeat="d in dashboardsLoaded.success">{{d}}</li>
        </ul>
      </div>

      <div data-ng-show="dashboardsLoaded.errors.length > 0">
        <h3 data-translate=""
            data-translate-values="{number: '{{dashboardsLoaded.errors.length}}'}">
          dashboardNotLoaded
        </h3>
        <ul>
          <li data-ng-repeat="d in dashboardsLoaded.errors">{{d}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
